@import "common/foundation/variables";

#main-outlet {
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 15px;
  width: 80%;
}

.d-header {
  .contents {
    margin: 2px 0;
  }
  .login-button,
  .d-header button.sign-up-button {
    margin: 8px 5px 0;
  }
  #site-logo {
    max-height: 22px;
    margin: 12px 2px 9px;
  }
  .d-header-icons .d-icon {
    font-size: 1.5em;
  }
}

img.avatar {
  border-radius: 4px;
}
.image-upload-controls {
  padding: 10px;
  .btn.btn-danger.pad-left.no-text {
    margin-right: 8px;
  }
}

#list-area {
  margin-bottom: 15px;
}

.list-controls {
  margin: auto;
}

.modal-inner-container {
  width: 95%;
  border-radius: 4px;
}

.pull-left img.avatar {
  max-width: 30px;
  max-height: 30px;
}

span.user-title {
  border: 1px solid #f1be18;
  color: #f1be18 !important;
  padding: 0 4px;
  line-height: 1.125em;
  font-size: 0.857em;
  letter-spacing: 0.5px;
  border-radius: 12px;
}

.topic-avatar img.avatar {
  max-width: 35px;
  max-height: 35px;
}

.topic-list .badge-notification,
.topic-list .category-topic-link td.num .badge-notification {
  padding: 2px 10px;
  font-size: 1em;
}

.topic-list .num a.badge-posts {
  color: $primary-low-mid;
  font-weight: normal;
}

.topic-list .right {
  margin-left: 40px;
}
.topic-list th,
.topic-list td {
  padding: 3px 5px 20px;
}
.topic-list img.avatar {
  margin-top: 5px;
}
.topic-list > tbody > tr {
  border-bottom: 1px solid transparent;
}
.topic-list > tbody > tr:first-of-type {
  border-top: 3px solid transparent;
}

#topic-title h1 {
  font-weight: normal;
}

.user-main .about.collapsed-info .details {
  background: $secondary;
}

.uploaded-image-preview {
  background: $tertiary-low;
}
.user-main .about .details {
  background-color: $secondary;
}
.user-main .helpful-flags {
  background-color: #2ecc40;
}
.user-main .flagged-posts {
  background-color: #f012be;
}
.user-main .deleted-posts {
  background-color: #ff851b;
}
.user-main .warnings-received {
  background-color: #ff4136;
}
