// Big thanks to jsthon for the initial work on this https://meta.discourse.org/u/jsthon/

@import "common/foundation/variables";

@mixin box-shadow($value: 8px) {
  box-shadow: 0 1px $value rgba(black, 0.18);
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: var(
    --gf-primary-very-low-or-primary-low,
    $primary-very-low
  );
  @if $no-background-image == "false" {
    @if $background-image != "default" {
      // Thanks @tmoko!
      background-image: url($background-image);
    } @else {
      // Default background pattern from Toptal Subtle Patterns
      // ♡ https://www.toptal.com/designers/subtlepatterns/japanese-sayagata/
      background-image: url($default-background);
    }
    @if $tile-background == "true" {
      background-size: auto;
    } @else {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.topic-list-body {
  border-width: 1px;
}

#main-outlet {
  box-sizing: border-box;
  margin: 30px auto 50px;
  background: var(--secondary);
  border-radius: 8px;
  width: 100%;
  max-width: 980px;
  padding: 3em 3em 5%;
  .archetype-regular & {
    min-height: 500px;
  }
  @media screen and (max-width: 775px) {
    padding: 1.5em;
  }
  padding-bottom: 5% !important; //overriding inline style
  @include box-shadow;
}

code,
pre {
  white-space: pre-wrap;
}

.container.posts > .row {
  width: 100%;
}

.btn,
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border: 1px solid var(--gf-primary-low-or-low-mid, $primary-low);
  color: var(--primary-high, $primary-high);
  background: transparent;
  border-radius: 4px;

  &:hover {
    background: var(--tertiary-low);
    color: var(--tertiary);
  }
}

.btn.btn-social {
  color: var(--secondary);
}

.btn-danger {
  background: var(--danger);
  color: var(--secondary);
  &:hover {
    background: darken($danger, 10%);
    color: var(--secondary);
  }
}

.btn-primary {
  background: var(--tertiary);
  color: var(--secondary);
  border-color: var(--tertiary);
}

.btn-flat.close {
  border: none;
}

.popup-menu-btn,
.popup-menu-btn-danger,
.modal-close {
  border: none;
}

#reply-control {
  border-radius: 10px 10px 0 0;
  .select-kit.dropdown-select-box .dropdown-select-box-header {
    .d-icon {
      color: var(--tertiary);
    }
    &:hover {
      background: var(--tertiary-low);
    }
  }
  .d-editor-button-bar {
    .select-kit.dropdown-select-box .dropdown-select-box-header {
      border: none;
    }
  }
}

.open .grippie {
  border-radius: 10px 10px 0 0;
  opacity: 0.4;
  &:before {
    border-color: var(--gf-primary-low-or-low-mid, $primary-low);
  }
}

.d-editor-button-bar .btn {
  border: none;
  color: var(--tertiary);
  .d-icon {
    color: var(--tertiary);
  }
  &:hover {
    background: var(--tertiary-low);
    .d-icon {
      color: var(--tertiary);
    }
  }
}

header.d-header {
  @include box-shadow;
  .contents {
    display: flex;
    align-items: center;
  }
  .panel {
    margin-left: auto;
    order: 5;
    .rtl & {
      margin-left: 0;
    }
  }
}

.d-header-icons .icon:hover {
  background: var(--tertiary-low);
  .d-icon {
    color: var(--tertiary);
  }
}

.badge-wrapper.box {
  padding: 2px 6px 2px 5px;
  span {
    border-radius: 4px;
  }
}

.deleted .topic-body {
  background-color: var(--danger-hover, $danger-hover);
}

// Main category nav

.list-controls .combo-box .combo-box-header {
  background: transparent;
  @media screen and (min-width: 775px) {
    font-size: 1.1487em;
  }
  border-color: transparent;
}

.select-kit.combo-box.category-drop .category-drop-header,
.select-kit.combo-box.tag-drop .tag-drop-header {
  border-radius: 4px;
}

#list-area {
  margin-bottom: 0;
}

#topic-title {
  padding-top: 0;
}

.topic-map .btn {
  border-radius: 0;
}

.badge-card {
  border-radius: 4px;
}

// Horizontal topic timeline

#topic-progress-wrapper {
  right: 10vw !important;
}

#topic-progress-wrapper .topic-admin-menu-button-container .toggle-admin-menu {
  background: var(--secondary);
  border-radius: 4px 0 0 4px;
}

#bulk-select {
  background: transparent;
  button {
    background: var(--secondary);
    @include box-shadow(2px);
    &:hover {
      background: var(--tertiary-low);
    }
  }
}

// User pages

.user-preferences .bio-composer .d-editor-preview,
.group-form-bio .d-editor-preview,
.edit-category-tab-topic-template .d-editor-preview {
  background: var(--tertiary-low);
}

.badge-group {
  background: var(--tertiary-low);
}

.input-prepend.input-append input,
.input-prepend.input-append select {
  background: var(--tertiary-low);
}

.modal .modal-body {
  label .d-icon {
    color: var(--tertiary);
  }
}

.user-main {
  .staff-counters {
    background: var(--tertiary-low);
    color: var(--tertiary);
    a {
      color: var(--tertiary);
    }
    span {
      color: var(--secondary);
    }
  }
  .helpful-flags {
    background-color: #2ecc40;
  }
  .flagged-posts {
    background-color: #f012be;
  }
  .deleted-posts {
    background-color: #ff851b;
  }
  .warnings-received {
    background-color: #ff4136;
  }
}

// admin

.post-admin-menu {
  .popup-menu-button {
    border: none;
  }
}

.admin-controls {
  background: var(--tertiary-low);
  .controls {
    background: var(--tertiary-low);
  }
  nav {
    background: var(--tertiary-low);
    &:before {
      background: linear-gradient(
        to right,
        var(--tertiary-low) 0%,
        rgba(234, 236, 238, 0) 100%
      );
    }
    &:after {
      background: linear-gradient(
        to right,
        rgba(234, 236, 238, 0) 0%,
        var(--tertiary-low) 100%
      );
    }
  }
}

.boxed.white {
  background-color: transparent !important;
}

.nav-stacked {
  background: var(--tertiary-low);
  li {
    border-color: var(--tertiary-medium);
  }
}

.admin-detail {
  border-color: var(--tertiary-medium);
}

.content-list ul li a:hover {
  background: var(--tertiary-low);
}

span.user-title {
  border: 1px solid #f1be18;
  color: #f1be18 !important;
  padding: 0 4px;
  line-height: 1.2em;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  border-radius: 8px;
}

.uploaded-image-preview {
  background: var(--tertiary-low);
  border-radius: 4px;
}

// Select kit

.select-kit.dropdown-select-box .dropdown-select-box-header {
  &:hover {
    .d-icon {
      color: var(--tertiary);
    }
  }
}

.select-kit.dropdown-select-box.composer-actions .select-kit-header .d-icon {
  border: none;
}

.select-kit.dropdown-select-box.toolbar-popup-menu-options .select-kit-row {
  background: var(--tertiary-low);
  &:hover,
  &.is-highlighted {
    background: var(--tertiary);
  }
}

.user-main .staff-counters > div,
.user-main .staff-counters > div a {
  color: var(--primary);
}

@media screen and (max-width: 790px) {
  .topic-area > .loading-container {
    max-width: calc(100vw - 50px);
  }
}

// Plugins

// Babble

.babble-sidebar {
  height: calc(100% - 5.285em);
}
.babble-sidebar-collapsed {
  border: none;
  background: transparent;
  button.widget-button {
    background: var(--secondary);
  }
  .d-icon {
    color: var(--primary);
  }
}

// No-js view
.crawler > #main-outlet,
noscript > #main-outlet {
  padding-top: 6em;
}
