@import "common/foundation/variables";

h3 {
  font-weight: normal;
}

input,
textarea {
  box-shadow: none !important;
}

img.avatar {
  border-radius: 4px;
}

.badge-wrapper {
  font-weight: normal;
}

.d-header {
  height: 70px;
  background: rgba($header_background, 0.92);
  box-shadow: 0 3px 3px rgba(100, 100, 100, 0.13);
  .panel {
    padding: 6px 0 0 0;
    flex: 0 0 auto;
  }
  button {
    &.login-button,
    &.sign-up-button {
      font-size: 1em;
    }
  }
  .icons .icon {
    @media screen and (min-width: 875px) {
      margin-left: 20px;
    }
    border-radius: 4px;
  }
  .icons {
    .unread-private-messages,
    .badge-notification,
    .unread-notifications {
      padding: 4px 6px;
      top: 0;
      background: $tertiary;
    }
  }
  .icons .flagged-posts {
    right: 85px;
  }
  #site-logo {
    max-height: 35px !important;
  }
}

.title-wrapper {
  width: auto;
}

.extra-info-wrapper .topic-link {
  font-weight: normal;
}

.list-controls {
  margin-bottom: 2em;
}

ol.category-breadcrumb {
  border-right: 1px solid $primary-low;
  padding-right: 10px;

  .badge-wrapper.bullet .badge-category-parent-bg,
  .badge-wrapper.bullet .badge-category-bg {
    width: 12px;
    height: 12px;
  }
}

.names .username {
  font-size: 1.1em;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  color: $tertiary;
  background: transparent !important;
}

nav.post-controls {
  button,
  .like-button {
    border-radius: 4px;
    &:hover {
      background: $tertiary-low;
      color: $tertiary;
    }
  }
  button:focus,
  button.d-hover {
    background: $tertiary-low;
    color: $tertiary;
  }
}

.topic-list {
  .num a.badge-posts {
    font-weight: normal;
  }
  .sortable:hover {
    // sortable column headers
    border-radius: 4px 4px 0 0;
    background: $tertiary-low;
    color: $tertiary;
  }
}

#topic-title h1 a {
  font-weight: normal;
}

.user-nav {
  margin-top: 30px;
}

#user-card {
  background: rgba($secondary, 0.95);
  border-radius: 4px;
}

.user-main .about .details .primary {
  box-sizing: border-box;
  padding: 0 10px;
}

.timeline-container .topic-timeline {
  margin-top: 20px;
  .timeline-scrollarea {
    border-color: $primary-low;
  }
  .timeline-handle {
    background: $tertiary;
  }
}

.modal-inner-container {
  border-radius: 4px;
  max-width: 450px;
}

.modal-header {
  padding: 5px 30px;
  text-align: center;
  position: relative;
  .modal-close {
    position: absolute;
    right: 0;
  }
  .title {
    margin: 20px auto;
    max-width: 300px;
  }
}

.modal-header .close {
  margin: 15px;
}

.modal-body {
  padding: 25px 30px;
}

.modal-footer {
  padding: 20px 30px;
}

.modal-tab {
  width: 90%;
}

@media screen and (min-width: 550px) {
  .modal.edit-category-modal .modal-inner-container {
    min-width: 550px;
  }
}

@media (min-width: 1250px) {
  .timeline-container {
    margin-left: 820px;
  }
}

@media (max-width: 1200px) {
  .timeline-container {
    margin-left: 66%;
  }
}

@media (max-width: 1120px) {
  .timeline-container {
    margin-left: 70%;
  }
}

@media (max-width: 1075px) {
  .timeline-container {
    margin-left: 73%;
  }
}

@media (max-width: 1000px) {
  .timeline-container {
    margin-left: 75%;
  }
}

@media screen and (max-width: 890px) {
  .topic-body {
    width: 89%;
  }
}
