@import "common/foundation/variables";

::selection {
  background: $tertiary-low;
}
::-moz-selection {
  background: $tertiary-low;
}
h3 {
  font-weight: normal;
}

.badge-notification {
  padding: 4px 8px;
}
.badge-wrapper {
  font-weight: normal;
}

ol.category-breadcrumb {
  border-right: 1px solid $primary-low;
  padding-right: 10px;

  .badge-wrapper.bullet .badge-category-parent-bg,
  .badge-wrapper.bullet .badge-category-bg {
    width: 12px;
    height: 12px;
  }
}

.d-header {
  background: rgba($secondary, 0.92);
  box-shadow: 0 3px 3px rgba(100, 100, 100, 0.13);
  .panel {
    padding: 6px 0 0 0;
  }
  height: 70px;
}

.d-header button.login-button,
.d-header button.sign-up-button {
  font-size: 1em;
}
.d-header .icons .icon {
  margin-left: 20px;
  border-radius: 4px;
}
.d-header .icons .unread-private-messages,
.d-header .icons .badge-notification,
.d-header .icons .unread-notifications {
  padding: 4px 6px;
  top: 0;
  background: #91ba97;
}

.d-header .icons .flagged-posts {
  right: 85px;
}
.d-header #site-logo {
  max-height: 30px !important;
  margin-top: 10px !important;
}
.extra-info-wrapper {
  padding-left: 15px;
}
.extra-info-wrapper .topic-link {
  font-weight: normal;
}
input,
textarea {
  box-shadow: none !important;
}
img.avatar {
  border-radius: 4px;
}
.list-controls {
  font-size: 1.1em;
}

.modal-inner-container {
  border-radius: 4px;
  max-width: 450px;
}

.modal-header {
  padding: 5px 30px;
  text-align: center;
  .title {
    margin: 20px auto;
    max-width: 300px;
  }
}

.modal-header .close {
  margin: 15px;
}

.modal-body {
  padding: 25px 30px;
}
.modal-footer {
  padding: 20px 30px;
  color: #7089a9;
}
.names .username {
  font-size: 1.1em;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  color: #91ba97;
  background: transparent !important;
}
nav.post-controls button,
nav.post-controls .like-button {
  border-radius: 4px;
  &:hover {
    background: $tertiary-low;
    color: $tertiary;
  }
}
span.user-title {
  border: 1px solid #f1be18;
  color: #f1be18 !important;
  padding: 0 4px;
  line-height: 1.2em;
  font-size: 0.85em;
  letter-spacing: 0.5px;
  border-radius: 8px;
}
td.num.age.activity {
  color: #91ba97 !important;
}
.topic-list .num a.badge-posts {
  font-weight: normal;
}
.topic-list .sortable:hover {
  border-radius: 4px 4px 0 0;
}
.topic-list .posters a:first-child .avatar.latest:not(.single) {
  box-shadow: none;
  border: 2px solid transparent;
}

#topic-title h1 a {
  font-weight: normal;
}
.uploaded-image-preview {
  border-radius: 4px;
}
.user-nav {
  margin-top: 30px;
}
#user-card {
  background: rgba($secondary, 0.95);
  border-radius: 4px;
}
#user-card .card-content {
  background: none;
}

.uploaded-image-preview {
  background: $tertiary-low;
}

.user-main .about .details .primary {
  box-sizing: border-box;
  padding: 0 10px;
}

.timeline-container .topic-timeline {
  margin-top: 20px;
  .timeline-scrollarea {
    border-color: $primary-low;
  }
  .timeline-handle {
    background: $tertiary;
  }
  .timeline-scroller {
    margin-left: -0.2em;
  }
}

@media (min-width: 1250px) {
  .timeline-container {
    margin-left: 820px;
  }
}

@media (max-width: 1200px) {
  .timeline-container {
    margin-left: 66%;
  }
}

@media (max-width: 1120px) {
  .timeline-container {
    margin-left: 70%;
  }
}

@media (max-width: 1075px) {
  .timeline-container {
    margin-left: 73%;
  }
}

@media (max-width: 1000px) {
  .timeline-container {
    margin-left: 75%;
  }
}

// added

.topic-list .sortable:hover {
  background: $tertiary-low;
  color: $tertiary;
}

@media screen and (min-width: 550px) {
  .modal.edit-category-modal .modal-inner-container {
    min-width: 550px;
  }
}

.modal-header {
  position: relative;
  .modal-close {
    position: absolute;
    right: 0;
  }
}

.modal-tab {
  width: 90%;
}

nav.post-controls button:focus,
nav.post-controls button.d-hover {
  background: $tertiary-low;
  color: $tertiary;
}
